:root {
  --bg-color: rgba(150, 150, 150, 1);

  --border-left-color: rgba(255, 255, 255, 0.20);
  --border-top-color: rgba(255, 255, 255, 0.33);
  --border-right-color: rgba(0, 0, 0, 0.15);
  --border-bottom-color: rgba(0, 0, 0, 0.5);

  --color-0: #b1bfc4;
  --color-1: #d35e10;
  --color-2: #d4ba25;
  --color-3: #1919d8;
  --color-4: #ac17d1;
  --color-5: #1ecf1e;
  --color-6: #1f91ca;
  --color-7: #c22828;
  --color-9: #3f4344;
  
  --color-1-shadow: #d47434a4;
  --color-2-shadow: #d4ba2562;
  --color-3-shadow: #1919d82d;
  --color-4-shadow: #ac17d13d;
  --color-5-shadow: #1ecf1e48;
  --color-6-shadow: #1f91ca46;
  --color-7-shadow: #c228283f;

  --button-color-t: rgba(200, 200, 200, 1);
  --button-color-r: rgba(150, 150, 150, 1);
  --button-color-b: rgba(120, 120, 120, 1);
  --button-color-l: rgba(222, 222, 222, 1);

  --cols: 10;
  --rows: 20;
  --tile-size: 50px;
  --tile-size-opo: 20px;
  --border-width: 5px;
}

@import url('https://fonts.googleapis.com/css?family=Eczar|Work+Sans');

@font-face {
	font-family: 'GAME';
	src: url('./fonts/Games-XvD2\ 2.ttf');
}

@media (max-width: 500px) {
  :root {
    --tile-size: 20px;
  }
}

/* app background color */
#root {
  background-color: #132C33;
}

* {
  box-sizing: border-box;
  font-family: 'GAME';
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Colors */
.color-0 {
  background-color: var(--color-0);
}

.color-1 {
  background-color: var(--color-1);
}

.color-2 {
  background-color: var(--color-2);
}

.color-3 {
  background-color: var(--color-3);
}

.color-4 {
  background-color: var(--color-4);
}

.color-5 {
  background-color: var(--color-5);
}

.color-6 {
  background-color: var(--color-6);
}

.color-7 {
  background-color: var(--color-7);
}

.color-9 {
  background-color: var(--color-9);
}

/* colors shadows */
.color-1-shadow{
  background-color: var(--color-1-shadow);
}

.color-2-shadow {
  background-color: var(--color-2-shadow);
}

.color-3-shadow {
  background-color: var(--color-3-shadow);
}

.color-4-shadow {
  background-color: var(--color-4-shadow);
}

.color-5-shadow {
  background-color: var(--color-5-shadow);
}

.color-6-shadow {
  background-color: var(--color-6-shadow);
}

.color-7-shadow {
  background-color: var(--color-7-shadow);
}

/* Grid Square */
.grid-square {
  border-style: solid;
  border-color: #93999b;
  width: var(--tile-size);
  height: var(--tile-size);
  border-width: 1px;
}

.grid-square-opo {
  border-style: solid;
  border-color: #93999b;
  width: var(--tile-size-opo);
  height: var(--tile-size-opo);
  border-width: 1px;
}

.grid-square-color {
  border-style: solid;
  width: var(--tile-size);
  height: var(--tile-size);
  border-width: var(--border-width);
  border-left-color: var(--border-left-color);
  border-right-color: var(--border-right-color);
  border-top-color: var(--border-top-color);
  border-bottom-color: var(--border-bottom-color);
}

.grid-square-color-opo {
  border-style: solid;
  width: var(--tile-size-opo);
  height: var(--tile-size-opo);
  border-width: var(--border-width);
  border-left-color: var(--border-left-color);
  border-right-color: var(--border-right-color);
  border-top-color: var(--border-top-color);
  border-bottom-color: var(--border-bottom-color);
}

/* grid Board */
.grid-board {
  display: grid;
  grid-template-columns: repeat(var(--cols), var(--tile-size));
  grid-gap: 0;
  align-self: flex-start;
  grid-area: c;
}

/* grid Board opponent*/
.grid-board-opponent {
  display: grid;
  grid-template-columns: repeat(var(--cols), var(--tile-size-opo));
  grid-gap: 0;
  align-self: flex-start;
}

.opponent-dev {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.header-opponent {
  background-color: #126E82;
  padding: 20px;
  border-radius: 10px 10px 0px 0px;
  color: white;
  font-size: large;
  width: 200px;
}

.select-dev {
  width: 200px;
  height: 50px;
  text-align: center;
  font-size: large;
  background-color: #99d6e3;
  color: #126E82;
}

/* next block */
.next-block {
  display: grid;
  grid-template-columns: repeat(4, var(--tile-size));
  align-self: flex-start;
  grid-area: l;
}

/* Score Board */
.score-board {
  grid-area: r;
  margin-left: auto;
}

.score-board-button {
  display: block;
  padding: 1em;
  border-width: 5px;
  border-top-color: var(--button-color-t);
  border-left-color: var(--button-color-l);
  border-right-color: var(--button-color-r);
  border-bottom-color: var(--button-color-b);
}

/* APP */
.App {
  --col-side: calc(var(--tile-size) * 4);
  --col-center: calc(var(--tile-size) * 10);
  --grid-hight: calc(var(--tile-size) * 20);

  width: calc(var(--tile-size) * (4 + 1 + 10 + 1 + 4));
  margin: auto;
  display: grid;
  justify-content: center;

  grid-gap: var(--tile-size) var(--tile-size);
  grid-template-columns: var(--col-side) var(--col-center) var(--col-side);
  grid-template-rows: 100px var(--grid-hight) 100px;

  grid-template-areas:  "h h h"
                        "l c r"
                        ". b .";
}

/* App Header */
.App-header {
  grid-area: h;
}

/* controls */
.controls {
  grid-area: b;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.control-button {
  --size: calc(var(--tile-size) * 2);
  width: var(--size);
  height: var(--size);
  text-align: center;
  display: block;
  color: white;
  background-color: #126E82;
  border-width: 5px;
  border-top-color: var(--button-color-t);
  border-left-color: var(--button-color-l);
  border-right-color: var(--button-color-r);
  border-bottom-color: var(--button-color-b);
}

/* Message Popup */
.message-popup {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(var(--tile-size) * 10);
  height: calc(var(--tile-size) * 10);
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
}

.message-popup-hidden {
  display: none;
}

/* information dev */
.info-dev{
  color: #b1bfc4;
  text-align: center;
  font-size: x-large;
  padding: 5px;
  margin-bottom: 15px;
}

/* username */
.username-div {
  grid-area: c;
  margin: auto;
  font-size: x-large;
  width: 100%;
}

.username-label {
  margin: 20px;
  padding: 5px;
  display: block;
  text-align: left;
  color: white;
}

.username-input {
  padding: 10px;
  display: block;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 10px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: var(--color-0);
  border-radius: 20px;
  margin-bottom: 20px;
  border:none;
  cursor: grab;
}

input, textarea {
  font-family:inherit;
  font-size: inherit;
}

.error-span {
  color: #c22828;
  margin: 20px;
}

/* users online */
.users-online {
  grid-area: l;
  background-color: #99d6e3;
  border-radius: 10px;
}

.header-online {
  background-color: #126E82;
  padding: 20px;
  border-radius: 10px 10px 0px 0px;
  color: white;
  font-size: large;
  margin-bottom: 20px;
}

.user-online {
  padding: 10px;
  background-color: #0311141c;
  margin-bottom: 10px;
  border-radius: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: #126E82;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.dot-online {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: chartreuse;
  display: inline;
}

/* rooms */
.rooms {
  grid-area: c;
  background-color: #99d6e3;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.join-room {
  background-color: #126E82;
  padding: 10px;
  margin: -10px;
  display: inline;
  color: white;
  border-radius: 10px 0px 10px 0px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.join-room:hover {
  background-color: #99d6e3;
  color: #126E82;
  border: 3px solid #126E82;
}

.rooms-group {
  overflow: auto;
  margin-bottom: auto;
}

/* chat */
.chat {
  grid-area: r;
  background-color: #99d6e3;
  border-radius: 10px;
  display: flex;
  /* justify-content: space-between; */
  /* height: 90%; */
  flex-direction: column;
}

.chat-room {
  grid-area: r;
  background-color: #99d6e3;
  border-radius: 10px;
  display: flex;
  /* justify-content: space-between; */
  height: 90%;
  flex-direction: column;
}

.message {
  margin: 20px;
  font-family: monospace;
  color: #126E82;
  display: flex;
  justify-content: left;
  text-align: left;
  font-weight: bolder;
}

.message-sender {
  color: #126E82;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

.chat-group {
  margin-top: auto;
  overflow: auto;
}

/* form rooms */
.form-room {
  width: 100%;
  height: 70px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: #126E82;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px; 
}

.button-room {
  width: 30%;
  height: 100%;
  background-color: #126E82;
  display: inline;
  color: white;
  border-radius: 0px 10px 10px 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  cursor: pointer;
  display: grid;
  place-items: center;
}

.button-room:hover {
  background-color: #99d6e3;
  color: #126E82;
  border: 3px solid #126E82;
  border-left: 0px;
}

.input-room {
  width: 70%;
  height: 100%;
  border-radius: 10px 0px 0px 10px;
  border: 3px solid #126E82;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #99d6e3; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #126E82;
  border-radius: 12em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5bbdd3; 
}

/* Alert Error */
.alert-error{
  padding: 10px; 
  min-height: 50px;
  width: 90%;
  background-color:rgba(240, 70, 70, 0.781);
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
  border: solid 1px white;
  box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.616);
}

.icon-close{
  /* padding-right: 10px; */
  cursor: pointer;
  color: white;
  padding-right: 30px;
}

.msg-err{
  padding-left: 20px;
  font-family: 'Work Sans';
  font-size: 0.8em;
  font-weight: bolder;
  color: white;
}